{% extends 'base.html.twig' %}
{% block title %}Twoje konto{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <ul class="nav nav-tabs tabs-up" id="account_tabs">
                            <li><a href="{{ url('account_info') }}" data-target="#tab_content" class="media_node active span" id="my_account_tab" data-toggle="tabajax" rel="tooltip"> Moje konto </a></li>
                            <li><a href="{{ url('inbox') }}" data-target="#tab_content" class="media_node span" id="messages_tab" data-toggle="tabajax" rel="tooltip"> Wiadomości</a></li>
                            <li><a href="{{ url('my_notices') }}" data-target="#tab_content" class="media_node span" id="my_notices_tab" data-toggle="tabajax" rel="tooltip">Moje ogłoszenia</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab pane" id="tab_content">

                            </div>
                        </div>
            </div>
        </div>
    </div>


    {#<div class="container-fluid">#}
        {#<ul class="nav nav-tabs" id="myTabs">#}
            {#<li class="active"><a href="#home" data-url="{{ path('board') }}">Home</a></li>#}
            {#<li><a href="#profile" data-url="/embed/62806/view">Profile</a></li>#}
            {#<li><a href="#messages" data-url="/embed/62807/view">Messages</a></li>#}
        {#</ul>#}

        {#<div class="tab-content">#}
            {#<div class="tab-pane active" id="home">This is the home pane...</div>#}
            {#<div class="tab-pane" id="profile"></div>#}
            {#<div class="tab-pane" id="messages"></div>#}
        {#</div>#}
    {#</div>#}






{% endblock %}


