<div class="container">
    <div class="row">
        <div class="panel panel-info account-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ app.user.firstname }} {{ app.user.lastname }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ asset('images/default-profile-picture.jpg') }}" class="img-circle img-responsive"> </div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>Nazwa użytkownika</td>
                                <td>{{ app.user.username }}</td>
                            </tr>
                            <tr>
                                <td>Data urodzenia</td>
                                <td>{{ app.user.birthday|date("m/d/Y") }}</td>
                            </tr>

                            <tr>
                            <tr>
                                <td>Płeć</td>
                                <td>{{ app.user.gender }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ app.user.email }}</td>
                            </tr>
                            <tr>
                                <td>Hasło</td>
                                <td><a href="{{ path('change_password') }}">Zmień hasło</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
            </div>
        </div>
    </div>
</div>