/*.board-main {*/
    /*margin-top: 50px;*/
/*}*/
/*.notice-container {*/
    /*margin-top: 40px;*/
/*}*/
.right-panel {
    min-height:500px;
}

.notice-prev {
    height: 146px;
    background-color: white;
    border-radius: 5px;
}
.notice-image {
    min-height: 100%;
}

.notice-basic-content {
    min-height: 100%;
}

.notice-stats {
    min-height:100%;
}

.notice-prev .notice-image {
    padding-right: 0;
}

.notice-basic-content .title {
    color: #01A2D9;
    font-weight: bold;
}

.notice-basic-content .additional-information span {
    background-color: #01A2D9;
    color: white;
    padding: 2px;
    border-radius: 2px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 8pt;
}

.notice-basic-content .additional-information .date-time {
    margin-top: 1px;
    padding-bottom: 3px;
}
.notice-basic-content .description {
    margin-top: 5px;
}
.notice-prev .notice-stats {
    border-left: 1px solid #d9dde2;
    padding-top: 15px;
}

.notice-prev .notice-stats ul {
    list-style-type: none;
    padding-left: 0;
}

.notice-prev .notice-stats ul li{
    padding-top: 5px;
}

/* panel right */
/*.right-panel .categories {*/
    /*margin-top: 50px;*/
/*}*/
.right-panel .box {
    background-color: #01A2D9;
    border-radius: 5px;
    padding: 7px;
    padding-left: 25px;
    color: white;
}

.box {
    margin-top: 20px;
}
.box .box-header .title {
    font-weight: bold;
    font-size: 14pt;
}
.box .box-header .image {
    color: #dadee5;
    font-size: 1.3em;
    margin-right: 20px;
    margin-top: 3px;
}

.right-panel .categories .category-list ul {
    padding-left: 0;
    list-style-type: none;
}

.right-panel .categories .category-list ul li {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #d9dde2;
    font-weight: bold;
}

.right-panel .categories .category-list ul li .value{
    margin-right: 15px;
    padding: 5px 8px;
    background-color: white;
    color: black;
    border-radius: 2px;
}

.right-panel .system-stats .stat-container{
    text-align: center;
    font-weight: bold;
}
.right-panel .stats-details .stats-separator {
    border-top: 1px solid #d9dde2;
    margin: 15 0;
}
.right-panel .system-stats .stats-details span {
    display: block;
    padding-top: 5px;
}

.right-panel .system-stats .stats-details .image {
    font-size: 3.5em;
}
.right-panel .system-stats .stats-details .description {
    font-weight: normal;
}
.right-panel .system-stats .stats-details {
    text-align: center;
}