.conversations {
    min-height: 500px;
    border: 1px solid #CCCCCC;
    padding: 0;
}
.conversations .last-message {
    font-size: 11pt;
    padding: 5px;
    width: 100%;
}

.conversations .last-message .author {
    font-size: 13pt;
}

.conversations a:link {
    text-decoration: none;
}
.conversations div.last-message:hover {
    background-color: #CCCCCC;
}

.conversation {
    border: 1px solid #CCCCCC;
    border-left: 0;
    height: 500px;
}

.conversation span {
    margin: 5px;
    padding: 5px;
    font-size: 12pt;
    border-radius: 5px;
}

 .conversation .message .first-user {
    background-color: #738BF9;
    color: white;
}

.conversation .message .second-user {
    background-color: #ECE1E1;
    color: black;
}