.notice-details {
    margin-top: 50px;
    padding: 20px;
    background-color: white;
}

.notice-details .notice-content .title {
    color: #01A2D9;
}

.notice-details .notice-content .price {
    position: relative;
    top: -30px;
    color: green;
    font-weight: bold;
}

.notice-details .notice-stats span {
    padding: 4px;
    border-radius: 2px;
    background-color: #01A2D9;
    color: white;
    font-weight: bold;
    font-size: 8pt;
}
.notice-details .notice-stats ul {
    list-style-type: none;
    padding-left: 0;
}

.notice-details .notice-stats ul li{
    padding-top: 5px;
}

.notice-contents {
    border-top: 1px solid #d9dde2;
    border-bottom: 1px solid #d9dde2;
    min-height: 200px;
    padding-top: 15px;
}
.notice-form {
    margin-bottom: 90px;
}

.notice-info {
    text-align: center;
    margin-top: 30px;
}

.notice-info .price {
    text-align: center;
    font-weight: bold;
}

.notice-info .user-info {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #d9dde2;
}
.notice-info .user-info-icon {
    font-size: 6em;
}