{% extends 'base.html.twig' %}
{% block title %}Lista ogłoszeń{% endblock %}
{% block body %}
    <div class="container">
        <div class="row board-main">
            <div class="col-lg-8 notice-container">
                {% for notice in notices %}
                    <div class="notice-prev">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-lg-2 notice-image">
                                <img src="/images/notice.png" class="img-responsive center-block"/>
                            </div>

                            <div class="col-lg-7 notice-basic-content">
                                <div class="title">
                                    <h4><b><a href="{{ url('notice_details',{'id': notice.id}) }}">{{ notice.title }}</a> </b></h4>
                                </div>
                                <div class="additional-information">
                                    <span class="pull-left date-time">{{ notice.createdAt |date("Y-m-d H:i:s")  }}</span>
                                    <span class="pull-left"><span class="glyphicon glyphicon-folder-open"></span> {{ notice.category }}</span>
                                </div>
                                <div class="clearfix"></div>
                                <div class="description">
                                    {{ notice.description }}
                                </div>
                            </div>

                            <div class="col-lg-3 notice-stats">
                                <ul class="clearfix">
                                    <li><span class="glyphicon glyphicon-usd"></span> {{ notice.price }} zł</li>
                                    <li><span class="glyphicon glyphicon-info-sign"></span> {{ notice.type }}</li>
                                    <li><span class="glyphicon glyphicon-search"></span> 4 odsłony</li>
                                    <li><span class="glyphicon glyphicon-time"></span> 46 minut</li>
                                    <li><span class="glyphicon glyphicon-comment"></span> 0 odpowiedzi </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="col-lg-4 right-panel pull-right">
                <div class="categories">
                    <div class="box">
                        <div class="box-header">
                            <span class="title">Top kategorie</span>
                            <span class="glyphicon glyphicon-folder-open pull-right image"></span>
                        </div>
                        <div class="category-list">
                            <ul>
                                {% for i in topCategories %}
                                    <li>{{ i.name }} <span class="pull-right value">{{ i.amount }}</span> </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="system-stats">
                    <div class="box">
                        <div class="box-header">
                            <span class="title">Statystyki</span>
                            <span class="glyphicon glyphicon glyphicon-stats image pull-right"></span>
                        </div>
                        <div class="stats-details">
                            <div class="stats-separator"></div>
                                <div class="row">
                                    <div class="col-lg-4 stat-container">
                                        <span class="glyphicon glyphicon-edit image"></span>
                                        <span class="description">Ogłoszeń</span>
                                        <span class="stat-value">{{ noticeNumbers }}</span>
                                    </div>
                                    <div class="col-lg-4 stat-container">
                                        <span class="glyphicon glyphicon-comment image"></span>
                                        <span class="description">Odpowiedzi</span>
                                        <span class="stat-value">5</span>
                                    </div>
                                    <div class="col-lg-4 stat-container">
                                        <span class="glyphicon glyphicon-user image"></span>
                                        <span class="description">Członków</span>
                                        <span class="stat-value">{{ memberNumbers }}</span>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(notices) }}
    </div>

{% endblock %}