
{% block body %}
<div class="row messages-container">
    <div class="col-lg-3 conversations">
        {% for c in conversations %}
            {% set first_user = c.FirstUser.FirstName ~ c.FirstUser.LastName %}
            {% set second_user = c.SecondUser.FirstName ~ c.SecondUser.LastName %}
            <a href="{{ url('conversation',{'id': c.id}) }}" data-toggle="last-message" data-target="#conversation">
                <div class="last-message">
                    <div class="author">
                        {{ c.FirstUser.Username != app.user.Username ? first_user : second_user }}
                        {{ c.messages.last.sentAt|date('H:i') }}
                    </div>
                    <div class="content">
                        {{ c.messages.last.sender.Username != app.user.Username ? second_user : 'Ty' }}:
                        {{ c.messages.last.content[:50] ~ '...'  }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>


    <div class="col-lg-7 conversation" id="conversation">
    </div>
</div>
{% endblock %}