{% block body %}
    {% for m in conversation.messages %}
        <div class="message clearfix">
            <span class="{{ app.user == m.sender ? 'first-user pull-right' : 'second-user pull-left' }}">{{ m.content }}</span>
        </div>
    {% endfor %}
{% endblock %}

{#<div class="message clearfix">#}
            {#<span class="first-user pull-right">#}
                {#Cześć co tam słychać?#}
            {#</span>#}
{#</div>#}

{#<div class="message clearfix">#}
            {#<span class="second-user pull-left">#}
                {#A spoko a u Ciebie?:D#}
            {#</span>#}
{#</div>#}

{#<div class="message clearfix">#}
            {#<span class="second-user pull-left">#}
                {#Halo jestes?#}
            {#</span>#}
{#</div>#}

{#<div class="message clearfix">#}
            {#<span class="first-user pull-right">#}
                {#Jestem, spałem D:#}
            {#</span>#}
{#</div>#}