{% extends 'base.html.twig' %}
{% block title %}Edytuj ogłoszenie{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form)}}
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Edytuj ogłoszenie</h1>
                    <hr />
                </div>
            </div>
            <div class="main-form main-center notice-form">
                <div class="form-group">
                    {{ form_label(form.title, NULL, {'label_attr': {'class': 'cols-sm-2 control-label'}}) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder' : 'Podaj tytuł ogłoszenia'} }) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.price, NULL, {'label_attr': {'class': 'cols-sm-2 control-label'}}) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.price, {'type': 'number', 'attr': {'class': 'form-control', 'step': '0.01'} }) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.description, NULL, {'label_attr': {'class': 'cols-sm-2 control-label'}}) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder' : 'Podaj krótki opis'} }) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.category, NULL, {'label_attr': {'class': 'cols-sm-2 control-label'}}) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.content, NULL, {'label_attr': {'class': 'cols-sm-2 control-label'}}) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.content, { 'attr': {
                                'class': 'form-control',
                                'placeholder' : 'Treść ogłoszenia',
                                'cols' : '5',
                                'rows': '10'
                            } }) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {#{% if error %}#}
                    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                    {#{% endif %}#}
                </div>

                <div class="form-group ">
                    {{ form_widget(form.create, { 'attr': {'class': 'btn btn-primary btn-lg btn-block login-button'} }) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}