
{% block body %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Typ</th>
            <th>Kategoria</th>
            <th>Data dodania</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for notice in notices %}
            <tr class="notice-{{ notice.id }}">
                <td>{{ notice.title }}</td>
                <td>{{ notice.type }}</td>
                <td>{{ notice.category}}</td>
                <td>{{ notice.createdAt |date("Y-m-d H:i:s")}}</td>
                <td>
                    <a href="{{ url('notice_details',{'id': notice.id}) }}"><span class="glyphicon glyphicon-search"> </span></a>
                    <a href="{{ url('edit_notice',{'id': notice.id}) }}"><span class="glyphicon glyphicon-edit"> </span></a>
                    <a href="{{ url('remove_notice',{'id': notice.id}) }}" class="remove_notice"><span class="glyphicon glyphicon-remove-sign"> </span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}