{% extends 'base.html.twig' %}
{% block title %}{{ notice.title }}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row board-main">
            <div class="col-lg-8 notice-container">
                <div class="notice-details">
                    <div class="row">
                        <div class="col-lg-12 notice-content">
                            <div class="col-lg-2 notice-image">
                                <img src="/images/notice.png" class="img-responsive center-block"/>
                            </div>
                            <div class="title">
                                <h2><b>{{ notice.title }}</b></h2>
                            </div>
                            <div class="notice-stats">
                                <ul class="list-inline">
                                    <li><span><span class="glyphicon glyphicon-search"></span> 4 odsłony </span></li>
                                    <li><span><span class="glyphicon glyphicon-time"></span> 46 minut </span></li>
                                    <li><span><span class="glyphicon glyphicon-comment"></span> 0 odpowiedzi </span></li>
                                    <li><span><span class="glyphicon glyphicon-folder-open"></span> {{ notice.category }} </span></li>
                                    <li><span><span class="glyphicon glyphicon-folder-open"></span> {{ notice.type }} </span></li>
                                    <li><span><span class="glyphicon glyphicon-user"></span> {{ notice.owner.username }} </span></li>
                                </ul>
                            </div>
                            <div class="notice-contents">
                                <div class="notice-content"> {{ notice.content }} </div>

                                <div class="notice-images">
                                        {% for photo in notice.photos %}
                                        <div>
                                            <!-- thumbnail image wrapped in a link -->
                                                <a href="#{{ photo.id }}">
                                                    <img src="{{ asset('images/notices/' ~ photo.path) }}" class="thumbnail">
                                                </a>
                                                <a href="#_" class="lightbox" id="{{ photo.id }}">
                                                    <img src="{{ asset('images/notices/' ~ photo.path) }}">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    <div class="clearfix"></div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 right-panel pull-right notice-info">
                    <div class="box">
                        <div class="price"><h2>{{ notice.price }} zł</h2></div>
                        <div>{{ notice.type }}</div>
                        <div class="user-info">
                            <span class="glyphicon glyphicon-user user-info-icon"></span>
                            <div class="username"><h2>{{ notice.owner.username }}</h2></div>
                            <div><button type="button" class="btn btn-success btn-lg">Wyślij wiadomość</button></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}